
#mainH1{
  margin-left: 10px;
  font-size: 30px;
}

@font-face {
  font-family: Oswalkd53;
  src:url(../fonts/Oswalk_v53.woff2);
}

/*Bold Script*/
@font-face {
  font-family: AmandaBlack;
  src:url(../fonts/Ananda-Black.ttf);
}

/*Lite Script*/
@font-face {
  font-family: Cherolina;
  src:url(../fonts/Cherolina.ttf);
}


h1 {
  font-family: Oswalkd53;
  color:#1a2674;
  text-transform: uppercase;
}

h2 {
  font-family: Oswalkd53;
  color: #1a2674;
  text-transform: uppercase;
}


h3 {
  color: #d31145;
  text-transform: uppercase;
}

p {
  line-height: 1.5;
}

#photoDiv {
    border-width: 3px;
    border-color: #FFFFFF;
    background-image: url("../img/ashlyn_main.jpg");
    background-repeat: no-repeat;
    padding: 0px;
    background-size:     cover;
    background-repeat:   no-repeat;
    background-position: center center;
    background-position-y: top;

}

#photoDiv img {
    max-width: 95%;

}

.policies {
    background-color: #1a2674;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.policies > .column {
    flex-grow: 1;
    text-align: center;
    margin: 10px;
    margin-left: 30px;
    margin-right: 30px;
    border-radius: 25px;
}

.policies > .column ul{
  text-align: left;
  margin-left:5%;
}


#policiesHeader {
  background-color: #1a2674;
}

#policiesHeader > h1 {
  text-align: center;
  color: #ffffff;
  background-color: #1a2674;
  margin: 0;
  padding-top: 0.67em;
  padding-bottom: 0.67em;
}

#policy_footer{
  text-align: center;
  max-height: 240px;
}

#policy_footer > .column {
    flex-grow: 1;
    height: 200px;
}

.support {
  text-transform: none;
}

#main_menu{
  text-align: center;
}

#main_menu a{
  background-color: #1a2674;
  color:#fff;
  text-decoration: none;
  padding: 10px;
  margin-left: -5px;
  margin-right: 0px;

}

#main_menu  a:hover{
  background-color: #313553;
  color:#fff;
}

#subline{
  font-family: AmandaBlack;
  font-size: 30px;
  margin-top: -20px;
  margin-left:45px;
  color:#a9a9a9;
}

.btnLink{
  background-color: #1a2674;
  color:#fff;
  text-decoration: none;
  padding: 10px;
  border-radius: 15px;
}


#ashlyn_promise{
    position: absolute;
    bottom: 0;
    padding-left: 5%;
    margin-bottom: 10px;
}

.ashlyn_sig{
  font-family: Cherolina;
  font-size: 50px;
  font-weight: bold;
}

#disclaimer{
  color:red;
}
